<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wos.musicMatchmaker.api.dao.TestDAO" >

    <select id="selectSampleData" resultType="map">
        SELECT
            *
        FROM
            SAMPLE_TABLE
    </select>

</mapper>